[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
youtube-dl = "*"
youtube-search = "*"
pyinstaller = "*"
py2app = "*"
mutagen = "*"

[dev-packages]

[requires]
python_version = "3.9"
